@font-face {
  font-family: "Gifitfont";
  src: url("/themes/fonts/BeVietnamPro-SemiBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/*-----------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 40, 173); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*-----------------------------------*/