/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 229, 33); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}