$colors: #6972ff, #ff30e3, #fffa96, #30e0ff;

@font-face {
  font-family: "Gifitfont";
  src: url("/themes/fonts/BeVietnamPro-SemiBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/*-----------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(113, 146, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
/*-----------------------------------*/
